$primary-color: #BB9356;
$secondary-color: #222222;
$light-color:#FFFFFF;
$gray-color: #a5a5a5;
$font-stack: 'Poppins', sans-serif;
$font-abril: "Abril Fatface", serif;
$font-cursive:  'Ruthie',sans-serif;
