.booking {
    @include flexbox();
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;        
    }    

    &__box {
        @include flexbox($gap: 30);

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
            max-height: 930px;
        }
        @include media-breakpoint-down(md) {
            max-height: 1384px;
            
        }

        .booking__box__text {
            @include flexbox($flexDirection: column, $gap: 10);
            @include size(80%);
            // @include media-breakpoint-down(md) {
            //     height: 75vh !important;
            // }

            h2 {
                @include sectionh2();
            }

            h3 {
                @include sectionh3();
                text-align: center;
            }

            p {
                text-align: center;
                @include menu-p();
            }

            button {
                @include button();
                
                &:hover {
                    @include button($color: white, $border: 2px solid $primary-color);
                    background-color: $primary-color;  
                    transition: 0.5s !important;       
        
                }
            }
        }

        .booking__pic {
            margin-bottom: 20px;
            @include flexbox($gap: 30);

            .booking1 img {
                @include boxSize(255, 377);                
            }
            .booking1 {
                position: relative;
                background-color: #BB9356;
            }

            .booking2 {
                position: relative;
                @include boxSize(255, 415);
                background-color: #BB9356;
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column !important;
            }
        }
    }
}
.border1 {
    position: absolute;
    @include boxSize(232, 357);
    border: 1px dashed rgba(255, 255, 255, .45);
    top: 10px;
    right: 10px;
}
.border2 {
    position: absolute;
    @include boxSize(250, 420);
    border: 1px dashed rgba(255, 255, 255, .45);
    top: 10px;
    left: 10px;
}