.pageTitle {
  height: 90vh;
  margin: -100px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include media-breakpoint-down(md) {
    margin: -100px 10px 0;
  }
  img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed !important;
  }
  .titleBck {
    position: absolute;
    background-color: rgba(27, 26, 26, 0.65);
    height: 100%;
    width: 100%;
    z-index: 7;
  }
  .titleText {
    position: absolute;
    z-index: 10;
    @include flexbox(center, 0, column);
    gap: 5px;
    width: 100%;
    color: $light-color;
    top: 45%;
  
    h2 {
      color: $primary-color;
      text-align: center;
      font: {
        family: $font-cursive;
        size: 45px;
      }
    }
  
    h3 {
      @include sliderHead();
      font-size: 45px !important;
      @include media-breakpoint-down(md) {
        width: 60%;
        text-align: center;
      }
    }
  }
}

